<div class="col-12">
  <div class="nav-bar d-flex flex-row mb-4">
    <div class="col-3 title-line text-center bg-card pointer" (click)="click(1)">
      <i class="material-icons inline-icon px-2 py-3 bg-card">home</i>
      <h4 class="link-white bg-card" style="display: inline;">
        Home
      </h4>
    </div>
    <div class="col-3 title-line text-center bg-card pointer" (click)="click(2)">
      <i class="material-icons inline-icon px-2 py-3 bg-card">settings</i>
      <h4 class="link-white bg-card" style="display: inline;">
        Serviços
      </h4>
    </div>
    <div class="col-3 title-line text-center bg-card pointer" (click)="click(3)">
      <i class="material-icons inline-icon px-2 py-3 bg-card">description</i>
      <h4 class="link-white bg-card" style="display: inline;">
        Produtos
      </h4>
    </div>
    <div class="col-3 title-line text-center bg-card pointer" (click)="click(4)">
      <i class="material-icons inline-icon px-2 py-3 bg-card">help_outline</i>
      <h4 class="link-white bg-card" style="display: inline;">
        Sobre
      </h4>
    </div>
  </div>
</div>

<router-outlet></router-outlet>