<div class="modal-body">
  <div class="align-content justify-content-between flex-wrap bg-black mb-2">
    <h5 class="bg-black text-white text-truncate" style="margin-bottom: 0px !important; max-width: 90%;">{{
      produto.product_name.toUpperCase() }}</h5>
    <i class="material-icons inline-icon pointer bg-black" (click)="bsModalRef.hide()">cancel</i>
    <small class="col-12 bg-black text-muted" style="vertical-align: top;">{{ produto.barcode }}</small>
  </div>

  <div class="title-line mb-4"></div>

  <form class="bg-black mb-4" [formGroup]="formulario">
    <div class="bg-black mb-3">
      <h6 class="bg-black">
        Marcas: <b class="text-muted bg-black">{{ produto.brands }}</b>
      </h6>
      <input class="bg-black" formControlName="brands" type="text" class="form-control text-muted" id="brands"
        placeholder="{{ produto.brands }}" required>
    </div>

    <div class="bg-black mb-3">
      <h6 class="bg-black">
        Embalagem: <b class="text-muted  bg-black">{{ produto.packaging }}</b>
      </h6>
      <input class="bg-black" formControlName="packaging" type="text" class="form-control text-muted" id="brands"
        placeholder="{{ produto.packaging }}" required>
    </div>

    <div class="bg-black mb-3">
      <h6 class="bg-black">
        Quantidade: <b class="text-muted bg-black">{{ produto.quantity }}</b>
      </h6>
      <input class="bg-black" formControlName="quantity" type="text" class="form-control text-muted" id="brands"
        placeholder="{{ produto.quantity }}" required>
    </div>

    <div class="bg-black mb-3">
      <h6 class="bg-black">
        Categorias: <b class="text-muted bg-black">{{ produto.categories }}</b>
      </h6>
      <input class="bg-black" formControlName="categories" type="text" class="form-control text-muted" id="brands"
        placeholder="{{ produto.categories }}" required>
    </div>
  </form>

  <div class="align-content justify-content-center text-center bg-black mb-2" *ngIf="msgErro == true">
    <b class="text-danger bg-black">Você deve modificar algum valor do produto para editá-lo</b>
  </div>

  <div class="align-content-between justify-content-center bg-black">
    <button
      class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn-outline-purple bg-black rounded-pill py-1 px-3 mx-3 my-1"
      (click)="bsModalRef.hide()">
      FECHAR
    </button>
    <button class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 btn-purple rounded-pill py-1 px-3 mx-3 my-1"
      (click)="editar()">
      EDITAR
    </button>
  </div>
</div>
