<div class="col-12 col-sm-8 card-body mb-4">
  <div class="title bg-card mb-4">
    HOME
  </div>
  <h2 class="text-center bg-card mb-4">
    Fullstack Challenge 🏅 2021
  </h2>
  <h5 class="text-center bg-card mb-4">
    Sobre o desafio:
  </h5>
  <p class="text-center bg-card">
    Este é um desafio para que possamos ver as suas habilidades como Fullstack Developer.
  </p>
  <p class="text-center bg-card">
    Nesse desafio trabalharemos no desenvolvimento de uma REST API que utilizará os dados do projeto Open Food Facts,
    um banco de dados aberto com informação nutricional de diversos produtos alimentícios.
  </p>
  <p class="text-center bg-card">
    O projeto tem como objetivo dar suporte a equipe de nutricionistas da empresa Fitness Foods LC para que possam
    comparar de maneira rápida a informação nutricional dos alimentos da base do Open Food Facts.
  </p>
  <p class="text-center bg-card">
    Para isso vamos precisar de um projeto front-end usando um framework javascript moderno com a usabilidade focada no
    nutricionistas.
  </p>
</div>
