<div class="col-xs-12 col-8 card-body">
  <div class="title text-truncate bg-card mb-4" style="max-width: 90%;">
    SOBRE O DEV
  </div>
  <h2 class="text-center text-truncate bg-card mb-0" style="max-width: 90%;">
    RICARDO DOS SANTOS AMARAL
  </h2>
  <small class="d-flex justify-content-center text-truncate mb-4 text-center bg-card"
    style="font-size: 83% !important; max-width: 90%;">
    <b class="text-muted text-center bg-card">DESENVOLVEDOR FULLSTACK</b>
  </small>
  <h5 class="text-center text-truncate bg-card mb-2" style="max-width: 90%;">
    Github: <a href="https://github.com/Svynct" target="_blank">@svynct</a>
  </h5>
  <h5 class="text-center text-truncate bg-card mb-2" style="max-width: 90%;">
    LinkedIn: <a href="https://www.linkedin.com/in/ricardo-dos-santos-amaral/" target="_blank">Ricardo Amaral</a>
  </h5>
  <h5 class="text-center text-truncate bg-card mb-2" style="max-width: 90%;">
    E-Mail: <a href="mailto:ricardoamaral2703@gmail.com" target="_blank">ricardoamaral2703@gmail.com</a>
  </h5>
  <h5 class="text-center text-truncate bg-card mb-4" style="max-width: 90%;">
    Telefone/WhatsApp: <b class="link-white">(21)97504-4032</b>
  </h5>
</div>
